html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, form, label, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

.form-action, [class$="-button"] {
  font-family: inherit;
}

body {
  line-height: 1;
  --theme: #fff;
  --theme-hover: #eaeaea;
}

body, body * {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar, body *::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

#application {
  max-width: 600px;
  margin: 0 auto;
}

#project-list {
  min-height: 70px;
  font-size: 1.5rem;
  padding: 0 1rem;
  max-height: 175px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[class$="-item"] {
  cursor: pointer;
}

.project-item {
  padding: 0.5rem 0;
}

#todo-list {
  max-height: 90%;
  overflow-y: scroll;
}

.todo-item {
  padding: 1rem;
  border-bottom: 1px solid #aaa;
  border-radius: 7px;
  display: flex;
}

.todo-item:hover {
  background: var(--theme-hover);
}

.todo-title {
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}

#topbar {
  position: sticky;
}

#action-sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: var(--theme);
  overflow-x: hidden;
  transition: 0.5s;
}

#action-sidebar > * {
  transition: 0.3s;
}

[class$="-button"] {
  cursor: pointer;
  border: 0;
  background: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.sidebar-close-button {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--theme);
}

#action-sidebar > form {
  margin: 1rem;
}

.form-action {
  border: 0;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

textarea.form-action {
  width: 100%;
  resize: vertical;
  min-height: 3rem;
  max-height: 10.5rem;
}

.form-button {
  border: 2px solid black;
  padding: 0.4rem;
  font-size: 1rem;
}

.form-button:hover {
  background: var(--theme-hover);
}

#todo-priority {
  position: relative;
  display: flex;
  width: 70%;
  margin: 0 auto;
}

#todo-priority > li {
  position: relative;
  list-style: none;
  flex: 1;
}

#todo-priority > li > label {
  position: relative;
  cursor: pointer;
}

.priority-checkbox {
  position: absolute;
  opacity: 0;
}

.priority-box {
  height: 45px;
  border: 2px solid #c7ceea;
}

#priority-low {
  background: #ffdac1;
}

#priority-low:hover {
  background: #ffc299;
}

.priority-checkbox:checked + #priority-low {
  background: #ffb380;
}

#priority-medium {
  background: #ffb7b2;
}

#priority-medium:hover {
  background: #ff8880;
}

.priority-checkbox:checked + #priority-medium {
  background: #ff7066 !important;
}

#priority-high {
  background: #ff9aa2;
}

#priority-high:hover {
  background: #ff6673;
}

.priority-checkbox:checked + #priority-high {
  background: #ff4d5b !important;
}
