%form-action {
  border: 0;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  border-radius: 5px;
}

form textarea {
  @extend %form-action;
  width: 100%;
  resize: vertical;
  min-height: 3rem;
  max-height: 8rem;
  background: var(--textarea-color);
  &:focus {
    background: var(--textarea-focus-color);
  }
}

form input[type="text"] {
  @extend %form-action;
  max-width: 80%;
  background: var(--input-color);
  transition: 0.1s linear;
  &:focus {
    background: var(--input-focus-color);
  }
}

input[name="todoDate"] + input{
  cursor: pointer;
}

.form-button {
  border: 2px solid black !important;
  border-radius: 6px;
  padding: 0.4rem;
  font-size: 1rem;
  height: 2.7rem;
  transition: 0.3s;
  &:hover {
    background: var(--button-hover);
  }
}

.form-warning {
  background: #ffbbbb !important;
}

#project-list {
  margin: 1.25rem 0 1.25rem 0;
}

@import "./_form-priority.scss"
