#todo-list {
  max-height: 90%;
  overflow-y: scroll;
}

.todo-item {
  cursor: pointer;
  padding: 1rem;
  border-bottom: 1px solid #aaa;
  border-radius: 7px;
  display: flex;
  &:hover {
    background: var(--todo-hover);
  }
}

.todo-title {
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}

.todo-description {
  height: 0;
  overflow-y: hidden;
  transition: 0.2s;
}

.todo-desc-content {
  padding: 1rem 1.5rem;
  line-height: 1.5rem;
}
