body {
  --theme: #fff;
  --todo-hover: #e6e6e6;
  --input-color: #e2f0cb;
  --textarea-color: #b5ead7;
  --button-hover: #ccc;
  --project-hover: #ccc;
  --project-current: #b3b3b3;
  --project-current-hover: #808080;
  --priority-low: #ffdac1;
  --priority-medium: #ffb7b2;
  --priority-high: #ff9aa2;
}

#application {
  max-width: 600px;
  margin: 0 auto;
}

@import "reset", "lists", "sidebar";
